/*! AUI Navigation */

/* Nav defaults - put very little here!
-------------------- */
.aui-nav,
.aui-nav > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Horizontal, breadcrumbs and pagination are all horizontal */
.aui-nav-breadcrumbs:after,
.aui-nav-pagination:after,
.aui-nav-horizontal:after,
.aui-navgroup-horizontal .aui-nav:after,
.aui-navgroup-horizontal .aui-navgroup-inner:after {
    clear: both;
    content: " ";
    display: table;
}
.aui-nav-breadcrumbs > li,
.aui-nav-pagination > li,
.aui-nav-horizontal > li,
.aui-navgroup-horizontal .aui-nav > li {
    float: left;
}

/* Navigation headings
-------------------- */
.aui-nav-heading {
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.66666666666667; /* 20px */
    text-transform: uppercase;
}

/* Breadcrumb navigation
-------------------- */
.aui-nav-breadcrumbs > li {
    padding: 0 10px 0 0;
}

.aui-nav-breadcrumbs > li + li:before {
    content: "/";
    padding-right: 10px
}

/* Horizontal Navigation
-------------------- */
.aui-navgroup-horizontal .aui-nav > li a,
.aui-nav-horizontal > li a {
    padding-right: 10px;
}

/* Pagination
-------------------- */
.aui-nav-pagination {
    margin: 10px 0 0 0;
}
.aui-nav-pagination > li {
    padding: 0;
}
/* Need padding on the A elements for big click areas. 
   Set equal left/right to help align the inline dialog on truncation. */
.aui-nav-pagination > li > a {
    padding: 10px 10px 0 10px;
}
/* Don't set top/bottom as that throws non-linked items out of whack. */
.aui-nav-pagination > li.aui-nav-selected,
.aui-nav-pagination > li.aui-nav-truncation {
    padding-left: 10px;
    padding-right: 10px;
}
.aui-nav-pagination .aui-nav-truncation > a {
    padding-left: 0;
    padding-right: 0;
}
/* Remove whitespace from first and last children (IE8 just gets space on 
   last child, will wrap sooner in some cases but generally should work ok). */
.aui-nav-pagination > li:first-child > a,
.aui-nav-pagination > li.aui-nav-truncation:first-child,
.aui-nav-pagination > li.aui-nav-selected:first-child {
    padding-left: 0;
}
.aui-nav-pagination > li:last-child > a,
.aui-nav-pagination > li.aui-nav-truncation:last-child,
.aui-nav-pagination > li.aui-nav-selected:last-child {
    padding-right: 0;
}

.aui-nav-pagination a[aria-disabled="true"]:link,
.aui-nav-pagination a[aria-disabled="true"]:visited,
.aui-nav-pagination a[aria-disabled="true"]:focus,
.aui-nav-pagination a[aria-disabled="true"]:hover,
.aui-nav-pagination a[aria-disabled="true"]:active {
    color: #999;
    text-decoration: none;
}

/* "current" is deprecated in 5.1 */
.aui-nav-pagination > li.aui-nav-current,
.aui-nav-pagination > li.aui-nav-selected {
    color: #333;
    font-weight: bold;
}

/* Vertical Navigation
-------------------- */
.aui-navgroup-vertical .aui-nav > li > a,
.aui-nav-vertical > li > a {
    color: #3b73af;
    display: block;
    padding: 7px 10px;
    line-height: 1.14285714285714; /* 16px equiv */
    word-wrap: break-word;
}

.aui-navgroup-vertical .aui-nav > li > a:focus,
.aui-navgroup-vertical .aui-nav > li > a:hover,
.aui-nav-vertical > li > a:focus,
.aui-nav-vertical > li > a:hover {
    background: #e6e6e6;
    text-decoration: none;
}

.aui-navgroup-vertical .aui-nav .aui-nav-selected a,
.aui-nav-vertical .aui-nav .aui-nav-selected a {
    color: #333;
    font-weight: bold;
}

.aui-navgroup-vertical .aui-nav,
.aui-navgroup-vertical .aui-nav-heading {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
}

.aui-navgroup-vertical .aui-nav-heading {
    padding: 10px 10px 4px 10px;
}

.aui-navgroup-vertical .aui-nav:first-child,
.aui-navgroup-vertical .aui-navgroup-inner > .aui-nav-heading:first-child,
.aui-navgroup-vertical .aui-navgroup-primary > .aui-nav-heading:first-child,
.aui-navgroup-vertical .aui-nav-heading + .aui-nav {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}






/* Horizontal Navgroup
-------------------- */
.aui-navgroup-horizontal {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    margin: 0;
}

.aui-page-panel-content > .aui-navgroup-horizontal {
    margin-left: -20px;
    margin-right: -20px;
}
.aui-navgroup-horizontal + .aui-page-panel {
    border-top: 0;
    margin-top: 0;
}
.aui-page-panel-content > .aui-navgroup-horizontal:first-child {
    margin-top: -20px;
}

/* Nav in a Navbar */
.aui-navgroup-horizontal .aui-nav > li a {
    color: #3b73af;
    display: block;
    margin: 0;
    padding: 9px 10px;
    text-decoration: none;
}
.aui-navgroup-horizontal .aui-nav > li a.active,
.aui-navgroup-horizontal .aui-nav > li a:focus,
.aui-navgroup-horizontal .aui-nav > li a:hover {
    background: #e6e6e6;
    text-decoration: none;
}

.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a {
    font-weight: bold;
    color: #333;
    position: relative;    
}

.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a:before,
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a:after {
    border: 8px solid transparent;
    border-style: outset outset solid outset; /* fixes FF bug */
    border-bottom-color: #ccc;
    bottom: 0;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -8px;
    overflow: hidden;
    position: absolute;
    width: 0;
}
.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a:after {
    background: transparent; 
    border-bottom-color: #fff;
    bottom: -1px;
}

/* Split horizontal navgroups */
.aui-navgroup-horizontal .aui-nav,
.aui-navgroup-horizontal .aui-nav-heading,
.aui-navgroup-horizontal .aui-navgroup-primary {
    float: left;
}

.aui-navgroup-horizontal .aui-navgroup-secondary {
    float: right;
}

/* Horizontal navgroup + Dropdown2 integration. Note: ADG prohibits dropdowns in vertical nav. */
.aui-navgroup-horizontal .aui-dropdown2-trigger .aui-icon-dropdown {
    display: none;
}
.aui-navgroup-horizontal .aui-dropdown2-trigger {
    padding-right: 23px !important; /* 8px (arrow width) + 10px (right padding) + 5px (margin between arrow and logo) */
    position: relative;
}
.aui-navgroup-horizontal .aui-nav > li a.aui-dropdown2-trigger:after {
    border: 4px solid transparent;
    content: "";
    height: 0;
    left: 100%; /* "left" + "margin-left" required because of webkit not working properly with "right" */
    margin-left: -18px;
    margin-top: -3px; /* Align top of arrow with top of x height */
    opacity: 0.8;
    position: absolute;
    top: 50%;
    width: 0;
}
.aui-navgroup-horizontal .aui-nav > li a.aui-dropdown2-trigger:after {
    border-top-color: #8e8e8e;
}
.aui-navgroup-horizontal .aui-nav > li a.aui-dropdown2-trigger:hover:after,
.aui-navgroup-horizontal .aui-nav > li a.aui-dropdown2-trigger.active:after {
    opacity: 1;
}

/* Breadcrumbs in navbar */
.aui-navgroup-horizontal .aui-nav-breadcrumbs > li, 
.aui-navgroup-horizontal .aui-nav-breadcrumbs > li:before {
    padding: 0;
}

.aui-navgroup-horizontal .aui-nav-breadcrumbs > li a {
    display: inline-block;
}

/* Bulletproofing - headings shouldn't be here but will at least not look heinously broken. */
.aui-navgroup-horizontal .aui-nav-heading {
    padding: 10px 10px 0 10px; /* 0 bottom required to unfuck IE9 */ 
}
