.aui-message {
    background: #fcfcfc;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 36px; /* Be sure to adjust icon positions below if these values are changed */
    position: relative;
}
.aui-message:first-child {
    margin-top: 0;
}
/* Lighter shadow for messages */
.aui-message.shadowed {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.aui-popup .aui-message.closeable,
.aui-dialog .aui-message.closeable {
    z-index: 4000;
}

.aui-message.error {
    background: #d04437; 
    border-color: #d04437;
    color: #fff;
}
.aui-message.warning {
    background: #fffdf6;    /* 5% of palette yellow #ffd351 */
    border-color: #ffeaae;  /* 50% of palette yellow #ffd351 */
}
.aui-message.info {
    background: #f6f7f9;    /* 5% of palette blue lozenge #4a6785 */
    border-color: #8c9fb2;  /* 50% of palette blue lozenge #4a6785 */
}
.aui-message.success {
    background: #f3f9f4;    /* 5% of palette green #14892c */
    border-color: #91c89c;  /* 50% of palette green #14892c */
}
.aui-message.hint {
    background: #fcfcfc; 
    border-color: #aab8c6;  /* 50% of palette blue lozenge #4a6785 */
}

/* Errors get a different link style */
.aui-message.error a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.aui-message p.title {
    font-weight: bold;
}
/* IE double bolds otherwise... */
.aui-message p.title strong {
    font-weight: inherit;
}

/* Positioning aui-icon for messages */
.aui-message .aui-icon {
    left: 10px; /* desired spacing between the icon and text = 10px so need to subtract the icon width (16px) from the left padding of the message (36px) then remove 10px */
    position: absolute;
    top: 12px; /* 12px = top padding of the message (10px) + align to the center of the text ((20px line-height - 16px icon height) / 2) */
}

.aui-message.closeable {
    padding-right: 36px;
}

.aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    right: 10px;
}
/* End aui-icon position */

/* Header interop */
#header .aui-message {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* Footer interop (provisional, just enough to stop them looking broken) */
#footer .aui-message {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}